<script type="application/ld+json">
  {{- $sections := .Params.sections | default slice -}}
  {{- $pricing := .Params.pricing | default slice -}}
  {{- $json := dict
      "@context" "https://schema.org"
      "@type" "Organization"
      "name" .Site.Title
      "url" .Site.BaseURL
      "logo" .Site.Params.logoRef
      "description" .Site.Params.description
      "address" (dict
          "@type" "PostalAddress"
          "streetAddress" .Site.Params.streetAddress
          "addressLocality" .Site.Params.addressLocality
          "postalCode" .Site.Params.postalCode
          "addressCountry" .Site.Params.addressCountry
      )
      "contactPoint" (dict
          "@type" "ContactPoint"
          "email" .Site.Params.email
          "contactType" "customer service"
      )
  -}}
  {{- if $sections }}
  {{- $hasPart := slice -}}
  {{- range $sections }}
  {{- $section := . }}
  {{- $hasPart = $hasPart | append (dict
      "@type" (or (index (index $.Params $section) "type") "WebPageElement")
      "@id" (printf "#%s" $section)
      "name" (index (index $.Params $section) "title")
  ) -}}
  {{- end }}
  {{- $json = merge $json (dict
      "mainEntityOfPage" (dict
          "@type" "WebPage"
          "@id" .Site.BaseURL
          "name" .Site.Title
          "hasPart" $hasPart
      )
  ) -}}
  {{- end -}}
  {{- if and $pricing .Params.pricing.plans }}
  {{- $offers := slice -}}
  {{- range .Params.pricing.plans }}
  {{- $offers = $offers | append (dict
      "@type" "Offer"
      "name" .name
      "description" .description
  ) -}}
  {{- end }}
  {{- $json = merge $json (dict
      "offers" (dict
          "@type" "AggregateOffer"
          "offerCount" (len .Params.pricing.plans)
          "offers" $offers
      )
  ) -}}
  {{- end -}}
  {{- $json = merge $json (dict
      "areaServed" (dict
          "@type" "GeoCircle"
          "geoMidpoint" (dict
              "@type" "GeoCoordinates"
              "latitude" .Site.Params.latitude
              "longitude" .Site.Params.longitude
              "addressRegion" .Site.Params.addressRegion
          )
          "geoRadius" .Site.Params.geoRadius
      )
  ) -}}
  {{ $json | jsonify | safeJS }}
  </script>
