<a x-cloak href="{{ .Site.BaseURL }}" class="flex items-center">
  {{ with .Site.Params.logo }}
    {{ if .primary }}
      <img
        src="{{ .primary }}"
        alt="{{ .Site.Title }} header logo"
        class="h-8 w-auto max-w-[200px] dark:hidden"
      />
    {{ end }}
    {{ if .secondary }}
      <img
          src="{{ .secondary }}"
          alt="{{ .Site.Title }} header logo dark mode"
          class="h-8 w-auto max-w-[200px] hidden dark:block"
        />
    {{ end }}
  {{ end }}
</a>
