@import 'flag-icons/css/flag-icons.min.css';

/* Font declaration */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Poppins', sans-serif !important;
    }
    h1 {
      @apply max-w-2xl mb-4 text-4xl tracking-tight font-extrabold text-secondary dark:text-white;
    }
    h2 {
      @apply mb-4 text-4xl tracking-tight font-extrabold text-secondary dark:text-white;
    }
    h3 {
      @apply mb-2 text-lg font-bold text-secondary dark:text-white;
    }
}

/* AlpineJS */
[x-cloak] { display: none !important; }
