@import 'flag-icons/css/flag-icons.min.css';

/* Font declaration */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Poppins', sans-serif;
    }
    h1 {
      @apply max-w-2xl mb-4 text-4xl tracking-tight font-extrabold text-secondary;
    }
    h2 {
      @apply mb-4 text-4xl tracking-tight font-extrabold text-secondary;
    }
    h3 {
      @apply mb-2 text-lg font-bold text-secondary;
    }
}

@layer components {

  /* Landing main style */
  .landing-main {
    @apply flex-grow max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8 sm:py-8 w-full
  }

  /* Landing section style */
  .landing-section {
    @apply bg-white max-w-screen-xl px-4 py-8 lg:py-16 flex-grow-0 min-h-0 mx-auto;
  }
  .landing-hero {
    @apply sm:h-auto 
          max-sm:min-h-[calc(100vh-98px)]
          max-sm:overflow-y-auto
          max-sm:relative
  }
  .landing-section__header {
    @apply mx-auto max-w-screen-md sm:text-center mb-8 lg:mb-12;
  }
  .landing-section__title {
    @apply mb-4 text-4xl tracking-tight font-extrabold text-secondary;
  }
  .landing-section__description {
    @apply mb-5 font-light text-gray-500 sm:text-xl;
  }

  /* Buttons style */
  .btn-primary {
    @apply py-2 px-4 inline-flex justify-center items-center text-sm font-semibold rounded-lg border border-transparent bg-primary text-white hover:bg-opacity-90 focus:ring-4 focus:ring-primary-300;
  }
  
  .btn-secondary {
    @apply py-2 px-4 inline-flex justify-center items-center text-sm font-semibold rounded-lg border border-gray-300 text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100;
  }

}

/* AlpineJS */
[x-cloak] { display: none !important; }
