@import 'flag-icons/css/flag-icons.min.css';

/* Font declaration */
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-light-webfont.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-semibold-webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/poppins-bold-webfont.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Poppins', sans-serif !important;
    }
    h2 {
      @apply mb-4 text-4xl tracking-tight font-extrabold text-secondary dark:text-white;
    }
}

@media (max-width: 640px) {
  #hero {
      height: calc(100vh - 98px);
      overflow: visible;
      position: relative;
  }
  .next-section {
    flex-grow: 0; /* Chaque section suivante prend juste l'espace qu'elle nécessite */
    min-height: 0; /* Pas de hauteur minimale fixe, s'ajuste dynamiquement */
    padding-top: 2rem; /* Pour créer un espacement entre les sections si nécessaire */
}
}

/* AlpineJS */
[x-cloak] { display: none !important; }
