{{ with .Params.contact }}
<section id="contact" class="landing-section">
</section>

  
  {{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Contact" "description" .description) }}
  
    <form
    id="contactForm"
    name="contact"
    class="max-w mx-auto p-2 sm:p-4"
    method="post"
    netlify
    x-data="{
      action: '', 
      showToast: false,
      success: false,
      message: '',
  
      focusObject() {
        $nextTick(() => {
          if ($refs.object) {
            $refs.object.focus();
            if (this.action) {
              $refs.object.value = this.action;
              $refs.object.dispatchEvent(new Event('change'));
            }
          }
        });
      },
  
      init() {
        const urlParams = new URLSearchParams(window.location.search);
        const actionParam = urlParams.get('action');
        if (actionParam !== null) {
          this.action = actionParam;
          this.focusObject();
        }
      },
  
      async submitForm(event) {
        event.preventDefault();
        const form = event.target;
        const formData = new FormData(form);
        
        try {
          const response = await fetch('/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
            body: new URLSearchParams(formData).toString()
          });
          
          if (response.ok) {
            this.success = true;
            this.message = 'Message envoyé avec succès.';
            this.showToast = true;
            form.reset();
            
            setTimeout(() => {
              this.showToast = false;
            }, 3000);
          } else {
            throw new Error('Échec de l\'envoi du formulaire');
          }
        } catch (error) {
          console.error('Erreur:', error);
          this.success = false;
          this.message = 'Échec de l\'envoi du message. Veuillez réessayer.';
          this.showToast = true;
          
          setTimeout(() => {
            this.showToast = false;
          }, 3000);
        }
      }
    }"
    x-init="init()"
    @set-action.window="this.action = $event.detail.action; focusObject()"
    @submit.prevent="submitForm($event)"
  >
    <div class="mb-5 sm:mb-8">
      <label for="name" class="block mb-2">Nom</label>
      <input
        id="name"
        name="name"
        type="text"
        autocomplete="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
        placeholder="Votre nom"
        required
      />
    </div>
    <div class="mb-5 sm:mb-8">
      <label for="email" class="block mb-2">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        autocomplete="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
        placeholder="nom@example.ch"
        required
      />
    </div>
    <div class="mb-5 sm:mb-8">
      <label for="object" class="block mb-2">Objet</label>
      <select
        id="object"
        name="action" x-model="action" x-ref="object"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
        required>
        <option value="">Sélectionnez une option</option>
        {{ range .objects }}
        <option value="{{ .value }}">{{ .name }}</option>
        {{ end }}
      </select>
      <input x-cloak type="text" id="reason" name="reason" autocomplete="off" x-show="action === 'autre'" placeholder="Précisez votre demande" class="bg-gray-50 border border-gray-300 text-gray-900 mt-2 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5">
    </div>
    <div class="mb-5 sm:mb-8">
      <label for="message" class="block mb-2">Message</label>
      <textarea
        id="message"
        name="message"
        rows="5"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5"
        placeholder="Votre message"
        required
      ></textarea>
    </div>
    <div class="flex items-start mb-5 sm:mb-8 gap-3">
      <div class="flex items-center h-5">
        <input
          id="remember"
          name="remember"
          type="checkbox"
          autocomplete="off"
          value=""
          class="w-5 h-5 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-primary checked:bg-primary checked:border-primary"
          required
        />
      </div>
      <label for="remember" class="ms-2 text-sm"
        >J'accepte que mes données personnelles soient collectées
        conformément à la
        <a
          href="/legal/politique-de-confidentialite"
          class="font-bold text-secondary hover:text-primary hover:underline transition-all"
          >politique de confidentialité</a
        >
        afin de traiter ma demande.</label
      >
    </div>
    <div class="flex items-start mb-5 sm:mb-8 gap-3" data-netlify-recaptcha="true"></div>
    <div class="sm:mb-5 flex justify-end">
      <button
        type="submit"
        class="w-full sm:w-auto float-right py-3 px-6 sm:py-2 sm:px-4 items-center text-md sm:text-sm font-semibold rounded-lg border border-transparent bg-primary text-white hover:bg-opacity-90"
      >
        Envoyer
      </button>
    </div>
  </form>
  </div>
  <div id="contactFormToast" class="hidden fixed z-50 bottom-10 right-1/2 translate-x-1/2 inline-flex items-center max-w-max p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 rounded-lg shadow-sm opacity-0 transition-opacity duration-500" role="alert">
    <svg id = "contactFormToastIcon" class="w-5 h-5 text-primary rotate-45 origin-center" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 17 8 2L9 1 1 19l8-2Zm0 0V9"/>
    </svg>
    <div id="contactFormToastMessage" class="ps-4 text-sm font-normal whitespace-nowrap">Message envoyé avec succès.</div>
  </div>
</section>
{{ end }}
