{{ with .Params.cta_cards }}
<section id="cta" class="landing-section">

  {{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Call-to-Action" "description" .description) }}
    
  <div class="landing-section__content md:grid-cols-2">
    {{ if .list }}
      {{ range .list }}
      <div>
        <a href="{{ .url | default "#contact" }}" 
        {{ if .action }}@click="$dispatch('set-action', { action: '{{ .action }}' })"{{ end }} 
        class="flex items-center justify-between p-5 bg-primary-50 hover:bg-primary-100 text-gray-500 hover:text-secondary hover:font-medium rounded-lg" aria-label="{{ .name }}">
          <div class="flex items-center space-x-3">
            {{ partial (printf "svg/%s.svg" .icon) (dict "class" "text-primary-600 w-5 h-5 lg:w-6 lg:h-6") }}
            <span>{{ .name }}</span>
          </div>
          {{ partial "svg/arrow-right.svg" (dict "class" "flex-shrink-0 w-5 h-5 lg:w-6 lg:h-6 text-primary") }}
        </a>
        {{ if .description }}
        <p class="text-gray-500 p-5">{{ .description }}</p>
        {{ end}}
      </div>
      {{ end }}
    {{ else }}
    <div class="col-span-full text-center text-gray-500">Aucune action disponible</div>
    {{ end }}
  </div>
  
  {{ with .tags }}
  <div class="mt-4 lg:mt-8">
    <h3 class="text-center">{{ .title }}</h3>
    <div class="flex flex-wrap items-center justify-center gap-2">
      {{ range .list }}
      <span class="tag bg-primary-50 px-3 py-1 rounded-full text-sm text-secondary">{{ . }}</span>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
