{{ with .Params.cta_cards }}
<section id="cta" class="bg-white px-4 py-8 lg:py-16 max-w-screen-xl next-section">
    <div class="mx-auto max-w-screen-md sm:text-center mb-8 lg:mb-12">
        <h2>{{ .title | default "Call-to-Action" }}</h2>
        <p class="mb-5 font-light text-gray-500 sm:text-xl">{{ .description }}</p>
      </div>
    
      <div class="space-y-8 md:grid md:grid-cols-2 md:gap-8 md:space-y-0">
          {{ range .list }}
          <div>
          <a href="{{ .url | default "#contact" }}" 
          {{ if .action }}@click="$dispatch('set-action', { action: '{{ .action }}' })"{{ end }} 
          class="flex items-center justify-between p-5 bg-primary-50 hover:bg-primary-100 text-gray-500 hover:text-secondary hover:font-medium rounded-lg">
            <div class="flex items-center space-x-3">
              {{ partial (printf "svg/%s.svg" .icon) (dict "class" "w-5 h-5 lg:w-6 lg:h-6") }}
              <span>{{ .name }}</span>
            </div>
            <svg class="flex-shrink-0 w-5 h-5 lg:w-6 lg:h-6 text-primary" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </a>
          {{ if .description }}
          <p class="text-gray-500 p-5">{{ .description }}</p>
          {{ end}}
        </div>
          {{ end }}
      </div>
      {{ with .tags }}
      <div class="mt-4 lg:mt-8">
      <h3 class="text-center">{{ .title }}</h3>
      <div class="flex flex-wrap items-center justify-center gap-2 ">
        {{ range .list }}
        <span class="tag bg-primary-50 px-3 py-1 rounded-full text-sm text-secondary">{{ . }}</span>
        {{ end }}
      </div>
    </div>
      {{ end }}
</section>
{{ end }}
