<a x-cloak href="{{ .Site.BaseURL }}" class="flex items-center">
  {{ with .Site.Params.logo }}
    {{ if .primary }}
      <img
        src="{{ .primary }}"
        alt="{{ .Site.Title }}"
        class="h-8 w-auto max-w-[200px] dark:hidden"
        style="visibility: hidden"
        onload="this.style.visibility='visible'"
      />
    {{ end }}
    {{ if .secondary }}
      <img
          src="{{ .secondary }}"
          alt="{{ .Site.Title }}"
          class="h-8 w-auto max-w-[200px] hidden dark:block"
          style="visibility: hidden"
          onload="this.style.visibility='visible'"
        />
    {{ end }}
  {{ end }}
</a>
