<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-24">
  <div class="max-w-3xl text-left">
      <h1 class="block text-4xl font-bold text-gray-800 sm:text-5xl lg:text-6xl">
          {{ .Params.hero_title | default "Épauler les dirigeants et les décideurs du bâtiment durable" }}
      </h1>
      <p class="mt-6 text-lg text-gray-600">
          {{ .Params.hero_description | default "Nous créons des espaces de réflexion, d'innovation et de connexion dans votre organisation et avec le marché." }}
      </p>
  </div>
</div>
