{{ with .Params.hero }}
<section id="hero" class="landing-section landing-hero grid grid-cols-1 sm:grid-cols-12 sm:items-center lg:gap-8 xl:gap-0">
       
        <div class="order-1 sm:order-2 sm:col-span-5 flex justify-center mb-16 sm:mb-0">
            <img 
            src="{{ .image.url }}" 
            alt="{{ .title }}" 
            {{ if .image.preload }} 
                loading="eager" 
            {{ else }} 
                loading="lazy" 
            {{ end }} 
            width="375"
            height="250"
            class="w-full h-auto sm:rounded-lg rounded-none object-cover" />
        </div>
        
        <div class="order-2 sm:order-1 sm:col-span-7 text-left">
            <h1 class="max-w-2xl mb-4 text-4xl font-bold tracking-tight leading-none md:text-5xl xl:text-6xl">
                {{ .title | default "Titre principal" }}
            </h1>

            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
                {{ .description | default "Description du service ou de l'entreprise" }}
            </p>

            {{ with .cta_primary }}
            {{ partial "components/button.html" (dict 
                "url" (.url | default "#contact") 
                "text" .name 
                "style" "primary" 
                "variant" "hero"
                "class" "mr-3"
                "icon" "arrow-right" 
                "iconPosition" "right" 
                "action" .action 
                "aria" .name ) 
            }}
            {{ end }}

            {{ with .cta_secondary }}
            {{ partial "components/button.html" (dict 
                "url" (.url | default "#contact") 
                "text" .name 
                "style" "secondary" 
                "variant" "hero"
                "action" .action 
                "aria" .name ) 
            }}
            {{ end }}
        </div>

</section>
{{ end }}
