{{ with .Params.logos }}
<section id="logos" class="bg-white px-4 py-8 lg:py-16 max-w-screen-xl next-section">
  
  {{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Nos clients" "description" .description) }}

  <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6">
    {{ if .list }}
    {{ range .list }}
    <div class="flex justify-center items-center">
      <img src="{{ .image }}" alt="logo de {{ .name }}" loading="lazy" class="h-auto w-auto max-h-16 max-w-[120px]" />
    </div>
    {{ end }}
    {{ else }}
    <div class="col-span-full text-center text-gray-500">Aucun logo disponible</div>
    {{ end }}
  </div>
</section>
{{ end }}
