{{ with .Params.logos }}
<section id="logos" class="bg-white next-section">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">

  <div class="mx-auto max-w-screen-md sm:text-center mb-8 lg:mb-12">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-secondary">{{ .title | default "Nos clients" }}</h2>
  </div>

  <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6">
    {{ range .list }}
    <div class="flex justify-center items-center">
      <img src="{{ .image }}" alt="{{ .name }}" class="h-auto w-auto" />
    </div>
    {{ end }}
  </div>

  </div>
</section>
{{ end }}
