{{ with .Params.portfolio }}
<section id="portfolio" class="landing-section">

  {{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Portfolio" "description" .description) }}

  <div class="landing-section__content md:grid-cols-2 lg:grid-cols-3 md:gap-12">
  {{ if .list }}
    {{ range .list }}
    <div class="flex flex-col h-full">
      <span
      class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
        {{ .client }}
      </span>
      <h3 class="text-2xl font-bold leading-tight text-gray-900">
        {{ .title }}
      </h3>
      <p class="text-lg font-normal text-gray-500">
        {{ .description }}
      </p>
      {{ partial "components/button.html" (dict 
                "url" .url
                "text" .button_text
                "style" "primary" 
                "icon" "arrow-right" 
                "iconPosition" "right" 
                "aria" .button_text ) 
      }}
    </div>
    {{ end }}
  {{ else }}
    <div class="col-span-full text-center text-gray-500">Aucun projet dans le portfolio.</div>
  {{ end }}
  </div>
</section>
{{ end }}
