{{ with .Params.portfolio }}
<section id="portfolio" class="bg-white px-4 py-8 lg:py-16 max-w-screen-xl next-section">

  {{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Portfolio" "description" .description) }}

  <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
  {{ if .list }}
    {{ range .list }}
    <div class="flex flex-col h-full">
      <span
      class="bg-gray-100 text-gray-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded">
        {{ .client }}
      </span>
      <h3 class="text-2xl font-bold leading-tight text-gray-900">
        {{ .title }}
      </h3>
      <p class="text-lg font-normal text-gray-500">
        {{ .description }}
      </p>
      <a href="{{ .url }}"
        class="text-white bg-primary-700 justify-center hover:bg-primary-800 inline-flex items-center  focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        role="button">
        {{ .button_text | default "Voir l'étude de cas" }}
        {{ partial "svg/arrow-right.svg" (dict "class" "w-5 h-5 ml-2 -mr-1") }}
      </a>
    </div>
    {{ end }}
  {{ else }}
    <div class="col-span-full text-center text-gray-500">Aucun projet dans le portfolio.</div>
  {{ end }}
  </div>
</section>
{{ end }}
