{{ with .Params.pricing_horizontal }}
<section id="pricing" class="landing-section">
  
  {{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Prix" "description" .description) }}

  <div class="landing-section__content grid grid-cols-3 items-start rounded-lg border border-gray-100 shadow">
    <div class="col-span-2 p-8 h-full">
      <h3 class="mb-1 text-2xl text-secondary font-semibold">{{ .features_title | default "Prix adapté" }}</h3>
      <p class="font-light text-gray-500 sm:text-lg">{{ .features_description | default "Des fonctionnalités étendues." }}</p>

      <div class="mt-6">
        {{ if .features }}
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
          {{ range .features }}
          <li class="flex space-x-3 truncate">
            {{ if eq .type "included" }}
              {{ partial "svg/check.svg" (dict "class" "flex-shrink-0 w-5 h-5") }}
            {{ end }}
            <span class="text-sm font-light text-gray-800">{{ .text }}</span>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>

    <div class="flex flex-col justify-center md:col-span-1 h-full bg-gray-100 p-6 rounded-b-lg md:rounded-b-none md:rounded-r-lg">
      {{ with .price }}
      <div class="my-6">
        <span class="text-4xl font-bold text-gray-800">{{ .price }}</span>
        <span class="text-lg text-gray-500">{{ .period }}</span>
      </div>
      {{ end }}
      
      {{ with .cta }}
      <div>
        {{ partial "components/button.html" (dict 
        "url" (.url | default "#contact") 
        "target" .target
        "text" .name
        "style" "primary" 
        "action" .action 
        "aria" .name ) 
    }}
      </div>
      {{ end }}
  </div>
</div>
{{ end }}
