{{ with .Params.team }}
<section
  id="team"
  class="landing-section"
>
{{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Notre équipe" "description" .description) }}

<div class="grid mx-auto gap-8 md:gap-14 grid-cols-1 sm:grid-cols-12 sm:items-start">
    <div class="sm:col-span-6 text-left">
      <div class="mb-5 text-gray-500 space-y-2 text-sm sm:text-lg">
        {{ .content | markdownify | default "Quelques détails supplémentaires."
        }}
      </div>
    </div>

    <div class="sm:col-span-6">
      {{ if .profiles }}
      {{ range .profiles }}
      <div
        class="py-8 first:pt-0 last:pb-0 flex flex-col sm:flex-row justify-center items-start w-full border-b border-gray-200 last:border-none h-auto"
      >
        <img
          src="{{ .image }}"
          class="w-36 h-36 sm:mr-6 mt-4 sm:mt-0 mb-4 sm:mb-0 rounded-full object-cover flex-none mx-auto"
          alt="Photo de {{ .name }}"
          loading="lazy"
        />
        <div class="flex flex-col flex-grow w-full">
          <h3 class="mb-0 text-center sm:text-left">{{ .name }}</h3>
          <span class="text-gray-500 text-center sm:text-left"
            >{{ .position }}
          </span
          >
          <p class="mt-3 mb-4 font-light text-center sm:text-left text-sm text-gray-500">
            {{ .description | markdownify }}
          </p>

          {{ if .social_links }}
          <ul class="flex gap-2 justify-center sm:justify-start">
            {{ if .social_links.linkedin}}
            <li>
              <a
                href="{{ .social_links.linkedin }}"
                class="text-gray-400 hover:text-primary transition-colors"
                aria-label="Linkedin de {{ .name }}"
                rel="noopener noreferrer"
                target="_blank">
                {{ partial "svg/linkedin.svg" (dict "class" "w-5 h-5") }}
              </a>
            </li>
            {{ end }} 
            
            {{ with .social_links.internal}}
            <li>
              <a
                href="{{ .url }}"
                class="text-gray-400 hover:text-primary transition-colors"
                aria-label="Lien vers {{ .name }}"
                rel="noopener noreferrer"
                target="_blank">
                {{ partial "dynamic_symbol" . }}
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ else }}
      <div class="col-span-full text-center text-gray-500">Aucun profil d'équipe disponible.</div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
