{{ with .Params.testimonials }}
<section id="testimonials" class="landing-section">
  
  {{ partial "common/section-header.html" (dict "title" .title "defaultTitle" "Témoignages" "description" .description) }}

  <div class="sm:text-center grid grid-cols-1 lg:grid-cols-2 gap-6">
    {{ if .list }}
    {{ range .list }}
      <figure class="max-w-screen-md mx-auto">
        {{ partial "svg/quote.svg" (dict "class" "h-8 mx-auto mb-3 text-gray-400") }}

        <blockquote>
          <p class="text-sm sm:text-base text-gray-900">{{ .quote }}</p>
        </blockquote>
        
        <figcaption class="flex items-center sm:justify-center mt-6 space-x-3">
          {{ if .image }}
            <img 
            src="{{ .image }}" 
            alt="Photo de {{ .name }}"
            loading="lazy"
            class="w-12 h-12 rounded-full" >
            {{ else }}
            <div class="flex justify-center items-center w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12">
              {{ partial "svg/user.svg" (dict "class" "w-5 h-5 lg:w-6 lg:h-6") }}
            </div>
            {{ end }}
            
          <div class="flex items-center divide-x-2 divide-gray-500">
            <div class="pr-3 font-medium text-gray-900">{{ .name }}</div>
            <div class="pl-3 text-sm font-light text-gray-500">{{ .position }}</div>
          </div>
        </figcaption>
      </figure>
    {{ end }}
    {{ else }}
      <div class="col-span-full text-center text-gray-500">Aucun témoignage disponible.</div>
    {{ end }}
  </div>
</section>
{{ end }}
