<div class="w-full bg-primary border-b border-gray-200">
  <div class="flex items-end justify-between gap-3 p-2">
    <div class="min-w-0 flex items-start">
      <span class="inline-flex p-1 me-3 bg-white bg-opacity-20 rounded-full w-6 h-6 items-center justify-center shrink-0">
        {{ partial (printf "svg/%s.svg" .icon) (dict "class" "text-white w-4 h-4") }}
      </span>
      <p class="text-xs sm:text-sm text-white">
        {{ with .text }}{{ . | safeHTML }}{{ end }}
        <a href="{{ .ctaLink | relURL }}"
           class="ms-3 sm:ms-4 py-1 px-3 inline-flex items-center gap-x-2 text-xs font-semibold rounded-lg border border-white/30 bg-white/10 text-white hover:bg-white/20 transition-all
                  whitespace-normal sm:whitespace-nowrap">
          {{ .ctaText }} →
        </a>
      </p>
    </div>

    <button
      @click="localStorage.setItem('top-banner-dismissed-{{ .ctaLink | urlize }}', 'true'); show = false"
      class="shrink-0 self-end py-1 px-2 inline-flex items-center justify-center text-white hover:bg-white hover:bg-opacity-10 rounded-lg transition-all">
      {{ partial "svg/cross.svg" (dict "class" "text-white w-4 h-4") }}
    </button>
  </div>
</div>
