{{ define "main" }}
<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">404</h1>
          <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Il manque quelquechose.</p>
          <p class="mb-4 text-lg font-light text-gray-500">Nous ne parvenons pas à trouver cette page. Vous trouverez de nombreuses choses à découvrir sur la page d'accueil.</p>
          {{ partial "components/button.html" (dict 
                "url" "/" 
                "text" "Retour à la page d'accueil"
                "style" "primary" 
                "aria" "Retour à la page d'accueil" ) 
            }}
      </div>   
  </div>
</section>
{{ end }}
